.sidebar{
    height: 100%;
    width: 5vw;
    background-color: #e4e2e2;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 7vh;
}
.sidebar-item {
    font-size: 2rem;
    text-align: center;
        padding: 0.5rem;
        background-color: white;
        color: green;
}
